.footer-container {
    text-align: center;
    margin-top: 2rem;
    padding: 40px 100px;
}

.footer-subtext {
    font-size: 1.2rem;
    color: #e5e7eb;
    font-family: "Roboto Flex", sans-serif;
}

.footer-mail {
    font-size: 2.2rem;
    font-family: "Anton", sans-serif; 
    color: #e5e7eb;
    text-decoration: none;
    cursor: pointer;
}

@media screen and (max-width:500px){
    .footer-mail {
        font-size: 0.8rem;
    }
}